<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset.css modern-css-reset -->
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Tailwind CSSを追加 -->
    {% if VITE_DEV_SERVER_URL %}
    <link rel="stylesheet" href="{{ VITE_DEV_SERVER_URL }}/config/static/css/input.css" />
    {% else %}
    <link rel="stylesheet" href="{% static 'dist/assets/input.css' %}" />
    {% endif %}
    <title>キャラクターの職業を選択しよう！</title>
</head>
<body>
    <div class="job-full">
        <header class="flex justify-start pl-[10%]">
            <button class="sab-fonts m-14" type="button" onclick="history.back()">
                < back
            </button>
            <div class="m-14">
              <p class="fonts text-white text-[45px] style p-2">
                進化する職業を選択
              </p>
              <p class="fonts text-white pt-4">※職業は変更できません</p>
            </div>
        </header>

        <main class="my-20">

            {% if error %}
            <p class="fonts text-red-400 pl-[15%]">{{ error }}</p>
            {% endif %}
        
            <form method="post" action="{% url 'evolution_prompt:job' %}" class="evolution-container flex flex-col items-center justify-center gap-8 m-25">
              {% csrf_token %}
              <div class=" px-8 flex flex-col items-center justify-center gap-2">
                <label class="skill-fonts text-center py-16 px-8  hover:translate-y-1 hover:shadow-inner has-[:checked]:bg-[#423536] has-[:checked]:text-white">
                  <input type="radio" name="job_id" value="hero" required class="hidden"> 勇者
              </label>
              <label class="skill-fonts text-center py-16 px-8  hover:translate-y-1 hover:shadow-inner has-[:checked]:bg-[#423536] has-[:checked]:text-white">
                  <input type="radio" name="job_id" value="warrior" class="hidden"> 戦士
              </label>
              <label class="skill-fonts text-center py-16 px-8  hover:translate-y-1 hover:shadow-inner has-[:checked]:bg-[#423536] has-[:checked]:text-white">
                  <input type="radio" name="job_id" value="wizard" class="hidden"> 魔法使い
              </label>
              <label class="skill-fonts text-center py-16 px-8  hover:translate-y-1 hover:shadow-inner has-[:checked]:bg-[#423536] has-[:checked]:text-white">
                  <input type="radio" name="job_id" value="priest" class="hidden"> 僧侶
              </label>
              </div>
              <button type="submit" class="sab-fonts">決定</button>
          </form>
        
          </main>
    </div>
</body>
</html>