<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset.css modern-css-reset -->
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Tailwind CSSを追加 -->
    {% if VITE_DEV_SERVER_URL %}
    <link rel="stylesheet" href="{{ VITE_DEV_SERVER_URL }}/config/static/css/input.css" />
    {% else %}
    <link rel="stylesheet" href="{% static 'dist/assets/input.css' %}" />
    {% endif %}
    <title>Document</title>
</head>
<body>
    <div class="full">
        <header >
            <button class="sab-fonts m-14" type="button" onclick="history.back()">
                < back
            </button>
        </header>

        <main class="my-24">

            <div class="flex justify-start pl-[15%]">
              <p class="fonts text-white text-[45px] style p-2">
                キャラを進化させよう！
              </p>
            </div>
        
            <div class="evolution-container flex gap-24 justify-center m-25">

                {% for evo in evolutions %}
                
                <div class="evolution-card ">
                    
                    <form method="post" action="/evolution/select/">
                    {% csrf_token %}
                    
                        <input type="hidden" name="evolution_id" value="{{ evo.id }}">
                        
                        <button type="submit ">
                            <div class="bg-[#f3f3f3b7] fonts py-16 px-8 border-4 border-[#260904] rounded-3xl hover:translate-y-1 hover:shadow-inner">
                                <h2 class="font-bold text-[55px]">{{ evo.name }}</h2>
                                <p class="text-2xl">{{evo.sub_name}}</p>
                                
                                <ul class="justify-items-start p-3 mt-4 text-2xl w-[280px]">
                                    <li>{{ evo.power }}</li>
                                    <br>
                                    <li>{{ evo.defense }}</li>
                                    <br>
                                    <li>{{ evo.magic }}</li>
                                    <br>
                                    <li>{{ evo.speed }}</li>
                                </ul>
                                
                                <p class="pt-4 text-xl">{{ evo.description }}</p>
                            </div>
                        </button>
                    
                    </form>
                    
                </div>
                    
                {% endfor %}
                
            </div>
        
          </main>
    </div>
</body>
</html>