<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- reset.css modern-css-reset -->
    <link
    rel="stylesheet"
    href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class="full">
        <header>
            <button class="font button" type="button" onclick="history.back()">
                back
            </button>
        </header>
        <div >
            <button></button>
        </div>
    </div>
</body>
</html>